body {
    background-color: #FFB58F;
}

.wrapper {
    margin-top: 20px;
    margin-right: 10em;
    margin-left: 5em;
    margin-bottom: 4em;
}

button {
    color: #248C86;
    background-color: #64D9D2;
    padding: 10px 7px;
    cursor: pointer;
    border: 2px solid gray;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 15px;
    border-radius: 15px 5px 15px 5px;
}

button:hover {
    color: #64D9D2;
    background-color: #248C86;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    width: 80%;
    background-color: #D98C64;
}

p {
    font-size: 17px;
    font-family: 'DotGothic16', sans-serif;
}

h3 {
    text-shadow: blue;
}

.article {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-basis: auto;
    background-color: white;
    padding: 2em;
    margin: 1em;
    text-align: justify;
}

.article_item button {
    align-self: flex-end;
}

.img {
    max-width: 90%;
}

main {
    background-image: url(https://c.wallhere.com/photos/fa/5b/memes-197416.jpg!d);
    background-attachment: fixed;
}

.header__logo img {
    max-width: 1em;
}